{% extends 'base.html' %}

{% block head %}
<title>My Site</title>
{% endblock %}

{% block body %}

{% if not signed_in %}
<div class="form">
    <form action="/" method="POST">
        <input type="text" name="email" id="email" placeholder="Email">
        <br>
        <input type="password" name="password" id="password" placeholder="Password">
        <br>
        <input type="submit" value="Sign In">
    </form>
</div>
<br>
<a href="/signup">Sign Up</a>
{% endif %}

{% if signed_in %}
<a href="/taskmanager">Task Manager</a>
<br>
<a href="/logout">Logout</a>
<br>
<a href="/delete_account" id="delete-account">Delete account</a>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("delete-account").addEventListener("click", function(event) {
            const confirmation = confirm("Are you sure you want to delete your account? This action cannot be undone.");
            if (!confirmation) {
                event.preventDefault();
            }
        });
    });
</script>
{% endif %}

{% endblock %}
