{% extends 'base.html' %}

{% block head %}
<title>QR Code Generator</title>
{% endblock %}

{% block body %}
<div class="nav-links">
    <a href="/home">Home</a> <span class="dash">-</span>
    <a href="/taskmanager">Task Manager</a> <span class="dash">-</span> 
    <a href="/logout">Logout</a> <span class="dash">-</span> 
    <a href="/delete_account" id="delete-account">Delete account</a>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("delete-account").addEventListener("click", function(event) {
                const confirmation = confirm("Are you sure you want to delete your account? This action cannot be undone.");
                if (!confirmation) {
                    event.preventDefault();
                }
            });
        });
    </script>
</div>

<h1>Enter link below</h1>
	<form action="/QRcode" method="POST">
		<input type="text" name="qrstring" id="qrstring" maxlength="200" placeholder="Enter website">
		<input type="submit" id="qrbutton" value="{% if user_qrcode %}Generate New QR Code{% else %}Generate QR Code{% endif %}">
	</form>
	<br>
	{% if qrcodenotvalid %}
	<p style="color: red;">QR Code is not valid!</p>
	{% endif %}
	{% if user_qrcode %}
	<h2>Your QR Code:</h2>
	<h3>{{ qrcodestring }}</h3>
	<img src="{{ user_qrcode }}">
	{% endif %}
{% endblock %}